:root {
  /* Fonts */
  --font-body: 'Playfair Display', 'Times New Roman', serif;
  --font-heading: 'Libre Franklin', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-nav: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-code: "Courier New", Courier, monospace;
  --font-post-meta: 'Lora', 'Times New Roman', serif; /* New variable for post meta */
  
  /* Colours */
  --color-text: {{ site.text-col | default: "#404040" }};
  --color-page: {{ site.page-col | default: "#FFFFFF" }};
  --color-link: {{ site.link-col | default: "#008AFF" }};
  --color-hover: {{ site.hover-col | default: "#0085A1" }};
  
  --color-navbar: {{ site.navbar-col | default: "#EAEAEA" }};
  --color-navbar-border: {{ site.navbar-border-col | default: "#DDDDDD" }};
  --color-navbar-text: {{ site.navbar-text-col | default: "#404040" }};
  
  --color-footer: {{ site.footer-col | default: "#EAEAEA" }};
  --color-footer-text: {{ site.footer-text-col | default: "#777777" }};
  --color-footer-link: {{ site.footer-link-col | default: "#404040" }};
  --color-footer-hover: {{ site.footer-hover-col | default: "#0085A1" }};
}