<!DOCTYPE html>
<html lang="en">
    
<script src={% static '/js/main.js' %}></script>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stephen Pincher">
    <meta name="description" content="XER cleansing tool for Planners importing 3rd party contractor XER schedules without contaminating their P6 database.">
    <meta name="keywords" content="P6, Primavera, POBS, Oracle, RISKTYPE, Planner, Schedule, Scheduler, XER">

    <title>Pincher's Patent XER Cleaner</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />  
    <link rel="stylesheet" href="/css/formalize.css"/>

</head

<body>

        <nav class="main-nav">
            <a href="https://linkedin.com/in/stephenpincher">LinkedIn </a>
        </nav>

        <div class="pageHeader">
            <section id="wrapper">
                <header id="header">
                    <img id="avatar" src={% static '/images/StephenPincherPortrait600x600Round.png' %} alt="Trial10"/>
                    
                    <h1>Stephen Pincher</h1>
                    <h2>Scheduling, Planning, Project Control</h2>
                </header>
            </section>
        </div>

        <section id="mainBody">
            {{ content }}
        </section>      
</body>
</html>
